.text-center.bg-dark.text-light.position-fixed {
  bottom: 0;
  left: auto;
  right: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-inline li:after {
  margin-left: 0.5rem;
  content: "|";
}

.list-inline li:last-child:after {
  display: none;
}

.navbar .nav .nav-item i {
  margin-right: 0.2rem;
}

.navbar .nav .nav-item {
  padding-right: 0.3rem;
}

#search-form .ais-search-box {
  flex: 1 1 auto;
}

#news-columns .card {
  margin-bottom: 15px;
}

#results-container #stats div {
  display: inline-block;
}

#filters .ais-body {
  padding-left: 15px;
}

#stats {
  font-weight: 300;
}

#hits .document-dates {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#hits .document-dates li {
  padding: 0 15px;
}

#hits .document-dates li:first-child {
  padding-left: 0;
}

#hits .document-dates li:last-child {
  padding-right: 0;
}

#hits .media {
  padding-bottom: 15px;
}

