.text-center.bg-dark.text-light.position-fixed {
  bottom: 0;
  left: auto;
  right: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-inline li:after {
  margin-left: 0.5rem;
  content: "|";
}

.list-inline li:last-child:after {
  display: none;
}

